extends layout

block content
  h1= title
    a(class="button margin-left", href="/new") New Message

  div.messages
    each message in messages
      div.message
        div.user #{message.user}
        div.date #{message.added.toLocaleString()}
        div.text #{message.text}
